*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}
.loader{
    position: relative;
    width: 400px;
    height: 400px;
    background: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid #191919;
    border-radius: 50%;
}
.circle::before{
    
}